<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css\bootstrap.css" rel="stylesheet">
  <link href="css\login.css" rel="stylesheet">
  <title>登录</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link active" id="individualTab" data-bs-toggle="tab" href="#individualFormTab">个人</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="organizationTab" data-bs-toggle="tab" href="#organizationFormTab">组织</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="individualFormTab">
          <form id="individualLoginForm" data-user-type="individual">
            <div class="mb-3">
              <input type="text" placeholder="用户名" name="username"/>
            </div>
            <div class="mb-3">
              <input type="password" placeholder="密码" name="password"/>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
            <p class="message">还未注册？<a href="/auth/register">创建帐号</a></p>
            <p class="message"><a href="/">返回首页</a></p>
          </form>
        </div>
    
        
        <div class="tab-pane fade" id="organizationFormTab">
          <form id="organizationLoginForm" data-user-type="organization">
            <div class="mb-3">
              <input type="text" placeholder="组织机构代码" name="organizationCode"/>
            </div>
            <div class="mb-3">
              <input type="password" placeholder="密码" name="password"/>
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary">登录</button>
            <p class="message">还未注册？<a href="/auth/register">创建帐号</a></p>
            <p class="message"><a href="/">返回首页</a></p>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const individualTab = document.getElementById('individualTab');
        const organizationTab = document.getElementById('organizationTab');
        const individualFormTab = document.getElementById('individualFormTab');
        const organizationFormTab = document.getElementById('organizationFormTab');
    
        individualTab.addEventListener('click', function() {
          individualFormTab.classList.add('show', 'active');
          organizationFormTab.classList.remove('show', 'active');
        });
    
        organizationTab.addEventListener('click', function() {
          organizationFormTab.classList.add('show', 'active');
          individualFormTab.classList.remove('show', 'active');
        });

        const individualLoginForm = document.getElementById('individualLoginForm');
        const organizationLoginForm = document.getElementById('organizationLoginForm');

        individualLoginForm.addEventListener('submit', function(event) {
          event.preventDefault();
          handleLogin('individual');
        });

        organizationLoginForm.addEventListener('submit', function(event) {
          event.preventDefault();
          handleLogin('organization');
        });

        async function handleLogin(userType) {
          const form = userType === 'individual' ? individualLoginForm : organizationLoginForm;
          const formData = {};


          // 根据用户类型动态构造数据对象
          if (userType === 'individual') {
            formData.username = form.username.value;
            formData.password = form.password.value;
          } else {
            formData.organizationCode = form.organizationCode.value;
            formData.password = form.password.value;
          }

          try {
            const response = await fetch(`/auth/login`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'User-Type': userType,
              },
              body: JSON.stringify(formData),
            });

            const data = await response.text();

            if (response.ok) {
              console.log(data);
              // message=data.message;
              // 登录成功
              alert('登录成功')
              // alert(data.message); // 弹出成功消息
              localStorage.setItem('token', 'exampleToken'); 
              // 获取当前页面的来源页面
              const previousPage = document.referrer;
              // 如果上一个页面是注册页面，则重定向到首页
              if (previousPage.includes('/auth/register')) {
                  window.location.href = '/';
              } else {
                  // 否则，重定向到来源页面或首页
                  window.location.href = previousPage || '/';
              }

            } else {
              // 登录失败
              alert(data); // 弹出错误消息
            }
          } catch (error) {
            console.error(`Error during ${userType} login:`, error);
            alert(`${userType}登录时发生错误。`);
          }
        }
      });
    </script>
</body>
</html>
