
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  /* body{
     background-color: #f3f5f9;
  } */

  .bgpic {
    /* height: 100vh; */
    width: 100%;
    /* min-height: 300px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
  }

  .navbar-black .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
  }
  
  .navbar-black .navbar-nav .active > .nav-link, .navbar-black .navbar-nav .nav-link.active, .navbar-black .navbar-nav .nav-link.show, .navbar-black .navbar-nav .show > .nav-link {
    color: #ffffff;
  }
  
  .navbar-black .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-toggler {
    background: gray;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: grey;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-black .navbar-nav .nav-link:focus, .navbar-black .navbar-nav .nav-link:hover {
    color:gray;
  }


  .organization {
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }

  #organizationDetails p {
    margin: 0;
  }
  
  #organizationDetails .description {
    white-space: nowrap; /* 防止描述文本换行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 超出部分显示省略号 */
  }

  #organizationDetails {
    width: 100%; 
    padding: 20px;
  }
  #organizationImage {
    padding: 20px;
    width: 100%; 
    max-height: 600px; 
    overflow: hidden;
    /* position: relative; */
  }
  
  #organizationImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* position: absolute; */
    top: 20px;
    left: 20px;
  }